
<!DOCTYPE HTML>
<html>
<title>Little Garden Home</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
</head>
<body bgcolor="#ffcfcb">
<link href="Home.css" rel="stylesheet">



<div class="grid-container">
    <div class="grid-item"> <img src="HomeLogo.png" width="40px" height="auto"></div>
    <div class="grid-item-BTN"><button class="button" onclick="myFunctionhome()">HOME</button></div>
    <div class="grid-item-BTN"><button class="button" onclick="myFunctionabout()">ABOUT</button></div>  
    <div class="grid-item-BTN"><button class="button" onclick="myFunctionvalues()">VALUES</button></div>
    <div class="grid-item-BTN"><button class="button" onclick="myFunctionhelp()">HELP</button></div>

</div>



<script>
function myFunctionhome() {
	window.location.href="Home.html";
  }
function myFunctionabout() {
	window.location.href="About.html";
  }
  function myFunctionvalues() {
	window.location.href="Values.html";
  }
  function myFunctionhelp() {
	window.location.href="Help.html";
  }
</script>   

</body>
</html>